<div id="page-content-wrapper">
    <div class="container-fluid col-10 mx-auto">
        <a href="#menu-toggle" class="btn btn-outline-dark btn-sm" id="menu-toggle">Menu</a>
        <h4 id="displayCurrency">Ƀ:
            <trim id="currency">{{user.dinoCoins}}</trim>
        </h4><br><br>
        <h1>store</h1><br>
        <p>the void must be filled with objects.</p>
        <p>buy things to temporarily suppress your existensial dread.</p><br>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">statType</th>
                    <th scope="col">statValue</th>
                    <th scope="col">Cost</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each items}}
                <tr>
                    <td> {{name}}</td>
                    <td>{{statType}}</td>
                    <td>{{statValue}}</td>
                    <td id="cost">{{cost}}</td>
                    <td><button type="button" class="btn btn-sm btn-dark buy" data-cost="{{cost}}">Buy!</button></td>

                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<!-- Bootstrap core JavaScript -->
<script src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8='
    crossorigin='anonymous'></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    $(".buy").click(function (event) {
        event.preventDefault();
        var newCoinAmount = $("#currentCoins").text() - $(this).data("cost");

        var body = { dinoCoins: newCoinAmount };

        if (newCoinAmount >= 0) {

            $.ajax({
                url: "/api/users",
                type: 'PUT',
                data: body,
            }).then(function (data) {
                location.reload();
            });
        } else {
            alert("Insufficient Funds")
        }
    })
</script>